<h2>Login</h2>
<% if user_signed_in? %> 
	<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %> 
	<%= link_to "facebookログイン", user_omniauth_authorize_path(:facebook), :class => 'navbar-link' %>
<% end %>
