<div class="quiz">
  <div class="probrem-panels">
    <p class="problem-count">Q1</p>
    <p class="problem"></p>
  </div>
  <div class="answer-panels">
    <ul class="cf">
      <li class="choices" id="ch1"></li>
      <li class="choices" id="ch2"></li>
      <li class="choices" id="ch3"></li>
      <li class="choices" id="ch4"></li>
    </ul>
  </div>
  <div class="time">
    <div class="time-bar">
      <div class="progress-bar"></div>
    </div>
    <div class="limit">残り時間 <span class="time-limit"></span>秒</div>
  </div>
  <div class = "correct-flag">
  <div class = "batu-flag">
  </div>
</div>
<%= javascript_include_tag 'quiz' %>