<h1 class = "problem">問題</h1>
<ul>
	<li class = "choices choice1">hoge1</li>
	<li class = "choices choice2">hoge2</li>
	<li class = "choices choice3">hoge3</li>
	<li class = "choices choice4">hoge4</li>
</ul>