<h1>Login_test</h1>
<% if user_signed_in? %>
	<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
	<%= link_to "ログイン", new_user_session_path %>
<% end %>
<p>
<%= link_to "facebookログイン", user_omniauth_authorize_path(:facebook), :class => 'navbar-link' %>
</p>
