<header class="bar bar-nav <%= @style_class unless @style_class.nil? %>">
  <h1 class="title"><%= @title %></h1>
  <button class="btn btn-link btn-nav pull-right"><a href="javascript:history.go(0)"><span class="icon icon-refresh"></span></a></button>
</header>